.price__body{
    padding: 20px;
}
table{
}
thead{
    background: rgba(175, 139, 105, 1);
    height: 40px;
}
tr{
}
th{
    font-size: 20px;
    line-height: 25px;
}
td{
    padding: 20px;
    color: black;
    min-width: 150px;
    font-size: 16px;
}
td.description{
    max-width: 100px;
}