{%extends 'base_layout.html' %}
{% load static %}
{% load humanize %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/BookingService.css' %}">
{% endblock %}

{% block header %}
{% include 'SpaApp/header.html' %}
{% endblock %}

{% block content %}
<div class="booking__container _container">
    <div class="main__header">
        <div class="main__info info-main">
            <div class="info-main__phone">
                <div class="phone__data">Тел: <a href="tel:+79570000001" class="phone__link">+7 957 000 00 01</a></div>
            </div>
            <div class="info-main__mail">
                <div class="mail__data">Mail: <a href="mailto:SpaLola116@mail.ru"
                                                 class="mail_link">SpaLola116@mail.ru</a></div>
            </div>
        </div>
    </div>
    <div class="confirmation__title">
        Ваша заявка подтверждена!
    </div>
</div>
{% endblock %}