{%extends 'base_layout.html' %}
{% load static %}
{% load humanize %}
{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{% static 'css/BookingService.css' %}">
<style>
    /* Обнуление стилей */
*{
  padding: 0;
  margin: 0;
  border: 0;
}


*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:focus,:active {
  outline: none;
}
a:focus,a:active {
  outline: none;
}


nav,
footer,header,aside {
  display: block;
}


html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252B42;
  font-weight: 500;
  font-family: "REX";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


input,button,textarea {
  font-family: inherit;
}


input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: 400;
}
/* Технический класс*/
.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container{
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 790px){
  ._container{
    max-width: 100%;
    padding: 0 5px;
  }
}
body {
    font-family: 'Roboto', sans-serif;
    background: #b4947d;
}

/* HEADER */
.header {


}
.header__container {
  display: flex;
  flex-direction: column;

}
.header__body {
  background: #b4947d;
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  transition: all 0.2s ease 0s;
  overflow-y: auto;
    border-right: 1.5px solid rgba(255, 255, 255, 1);

}
.header__body.active{
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  overflow-y: auto;
}
@media (max-width: 900px){
  .header__body{
    position: fixed;
    left: -295px;
    height: 100vh;
  }
  .header__burger{
    left: 310px;
  }
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1.5px solid rgba(255, 255, 255, 1);
  width: 100%;
}
.title__logo{
    color: white;
    font-size: 20px;
}
.header__burger{
  display: none;
}
@media(max-width: 900px){
 .header__burger {
    display: block;
    position: fixed;
    width: 40px;
    height: 20px;
    z-index: 10;
    padding: 20px;
    left: 15px;
    margin-top: 10px;
    margin-left: 0;



  }
  .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 3px;
    top: 25px;
  }
  .header__burger:before,
  .header__burger:after{
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
   }
   .header__burger:before{
    top: 15px;
   }
   .header__burger:after{
    bottom: 2px;
   }
   .header__burger.active{
    position: fixed;
    left: 15px;
    top: 0;

   }
   .header__burger.active:before{
    transform: rotate(45deg);
    top: 21px;
   }
   .header__burger.active:after{
    transform: rotate(-45deg);
    bottom: 16px;
   }
   .header__burger.active span {
    transform: scale(0);
   }
}
.header__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  border: 2px solid rgba(243, 225, 205, 1);
  margin: 10px 0;
  background: rgba(203, 169, 162, 1);
  border-image-slice: 1;

}
.profile {
}
.profile__photo {
  margin: -10px 0 10px 0 ;
}
.profile__name {
  margin: 5px 0 10px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(18/20*100%);
}
.profile__items {
  padding: 5px 0;
}
.profile__link{
  color: white;
}
.header__menu {
  background: #b4947d;
  position: relative;
  display: flex;
  margin: 5px 0 0 0;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 0 25px 0 25px;
  width: 100%;
  height: 100%;
}
.header__menu.active{
  padding: 5px 25px 25px 25px;
}
.menu {

}
.menu__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu__item {
  padding: 2px 10px;
  width: 100%;
  display: flex;
}
.menu__item.active{
  justify-content: center;
  text-align: left;
  padding: 5px 35px 5px 0;
}
.menu__item:hover {
  background: rgba(203, 169, 162, 1);
  border-radius: 11px;
  cursor: pointer;
}
.menu__link {
  color: white;
  padding: 10px 0 10px 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(18/22*100%);
}
button.menu__link{
    background: none;
}
.menu__icon {
}
.menu__icon img{
  padding: 5px;
}
.logout_item{
 margin-top: auto;
}


.main{
  padding: 20px 20px 20px 20px;
  margin-left: 270px;
  color: white;
}

@media(max-width: 900px){
  .main{
    margin-left: 30px;
  }
}


/* modal  */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #1E2653;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 600px;
  display: flex;
  justify-content: center;
  color: white;
}
.modal__text{
    display: block;
    padding: 10px;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 10px 10px 40px;;

}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.main__header{
    display: flex;
    justify-content: flex-end;
}
.main__info{
    display: flex;
    padding: 15px;
}

.info-main{

}
.info-main__phone{
    padding: 0 20px;
}
.phone__data{
    color: white;
    font-size: 16px;

}
.phone__link{
    color: white;
    font-size: 16px;
}
.phone__link:hover{
    text-decoration: underline;
}

.info-main__mail{
    padding: 0 20px;
}
.mail__data{
    color: white;
    font-size: 16px;
}
.mail_link{
    color: white;
    font-size: 16px;
}
.mail_link:hover{
    text-decoration: underline;
}
input#id_time{
    padding: 5px;
}
select#id_master {
    max-width: 210px;
    height: 20px;
}

</style>
{% endblock %}

{% block title %}Цены{% endblock %}

{% block header %}
{% include 'SpaApp/header.html' %}
{% endblock %}


{% block content %}
<div class="booking__container _container">
    <div class="main__header">
        <div class="main__info info-main">
            <div class="info-main__phone">
                <div class="phone__data">Тел: <a href="tel:+79570000001" class="phone__link">+7 957 000 00 01</a></div>
            </div>
            <div class="info-main__mail">
                <div class="mail__data">Mail: <a href="mailto:SpaLola116@mail.ru"
                                                 class="mail_link">SpaLola116@mail.ru</a></div>
            </div>
        </div>
    </div>
    <div class="booking__body">
        <div class="booking__title">Бронирование услуги: {{service.title}}</div>
        <div class="booking__form">
            <form method="post">
                {% csrf_token %}

                <div class="form">
                    {{ form.media }}
                    {{ form }}

                    <button class="booking__button" type="submit">Забронировать</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}