{%extends 'base_layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/MainPage.css' %}">
<link rel="stylesheet" href="{% static 'css/pricepage.css' %}">
{% endblock %}

{% block title %}Цены{% endblock %}

{% block header %}
{% include 'SpaApp/header.html' %}
{% endblock %}

{% block content %}
<div class="main__conainer _container">
    <div class="main__header">
        <div class="main__search">
            <form method="get" action="">
                {% if title_contains_query %}
                <input type="search" autocomplete="off" class="search" value="{{title_contains_query}}"
                       name="title_contains" placeholder="Поиск">
                {% else %}
                <input type="search" autocomplete="off" class="search" name="title_contains" placeholder="Поиск">
                {% endif %}
            </form>
        </div>
        <div class="main__info info-main">
            <div class="info-main__phone">
                <div class="phone__data">Тел: <a href="tel:+79570000001" class="phone__link">+7 957 000 00 01</a></div>
            </div>
            <div class="info-main__mail">
                <div class="mail__data">Mail: <a href="mailto:SpaLola116@mail.ru" class="mail_link">SpaLola116@mail.ru</a></div>
            </div>
        </div>
    </div>

    <div class="price__body">
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Длительность</th>
                <th>Цена</th>
            </tr>
            </thead>
            <tbody>
            {% for service in products_data %}
            <tr>
                <td>{{service.title}}</td>
                <td>{{service.description}}</td>
                <td class="description">{{service.duration}}</td>
                <td>{{service.price}} руб</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}